{
    "composition": {
        "sim_start_time": "float",
        "sim_duration": "float",
        "sim_num_data_points": "integer",
        "time_course": {
            "_type": "step",
            "address": {"_type": "quote", "_default": "local:time_course"},
            "_config": {
                "sbml_file_path": "string",
                "sedml_file_path": "string",
                "output_dir": "string"
            },
            "_inputs": {
                "starting_time": "float",
                "end_time": "float",
                "num_data_points": "integer"
            },
            "_outputs": {}
        }
    },
    "state": {
        "sim_start_time": {{ start_time }},
        "sim_end_time": {{ end_time }},
        "sim_num_data_points": {{ num_data_points }},
        "time_course": {
            "_type" : "step",
            "address": "python:pypi<git+https://github.com/biosimulators/bspil-basico.git@initial_work>@bspil_basico.legacy.tellerium.TelluriumTimeCourseStep",
            "config": {"sbml_file_path": "interesting.sbml", "output_dir": "output"},
            "interval": 1.0,
            "inputs": {
                "starting_time": ["sim_start_time"],
                "end_time": ["sim_end_time"],
                "num_data_points": ["sim_num_data_points"]
            },
            "outputs": {}
        }
    }
}
